body {
    height:100vh;
}

#root {
    height: 100%;
}

#DDF_Home {
    
    place-items: center center;
    justify-content: center;
    padding: 0em;
    min-height: 100px;
    min-width: 250px;
    padding: 1em;
    background-color: aliceblue;
}